@import "tailwindcss";

:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --radius: 0.75rem;
}

body {
  background-color: #09090b;
  color: #fafafa;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}